{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <h1>Ajouter une vidéo</h1>

  {{ form_start(form) }}
    {{ form_row(form.spot) }}
    {{ form_row(form.url) }}
    {{ form_row(form.categories) }}
    <input type="submit" value="Create" />
  {{ form_end(form) }}
</div>

{% endblock %}
