{% extends 'base.html.twig' %}

{% block body %}
<h1>Adding a new video</h1>

{{ form_start(form) }}
    {{ form_row(form.type) }}
    {{ form_row(form.url) }}
    {{ form_row(form.categories) }}
    <input type="submit" value="Create" />
{{ form_end(form) }}

{% endblock %}
