{% extends 'base.html.twig' %}

{% block body %}
    <h1>Spot</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ spot.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ spot.title }}</td>
            </tr>
            <tr>
                <th>Imagetitle</th>
                <td>{{ spot.imageTitle }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ spot.address }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ spot.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('spot_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('spot_edit', { 'id': spot.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    <h2>COMMENTAIRES</h2>
    -----------------------------------------------
    {% for comment in comments %}
      <p>{{ comment.user.username }}</p>
      <p>{{ comment.text }}</p>
      <p>{{ comment.created }}</p>
    {%  endfor %}
    -------------------------------------------------
    {{ form_start(comment_form) }}
        {{ form_widget(comment_form) }}
        <input type="submit" value="commenter" />
    {{ form_end(comment_form) }}


    <h2>NOTES</h2>
    -----------------------------------------------
    {% for notice in notices %}
        <p>{{ notice.user.username }}</p>
        <p>{{ notice.comment }}</p>
        <p>{{ notice.note }}</p>
    {%  endfor %}
    -------------------------------------------------
    {% if spot.user.id != app.user.id %}
        {{ form_start(notice_form) }}
        {{ form_widget(notice_form) }}
        <input type="submit" value="noter" />
        {{ form_end(notice_form) }}
    {% endif %}
    <h2>NOTE MOYENNE</h2>
    {{ averageNote }}
{% endblock %}
