{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
      <ul>
          <li>
              <a href="{{ path('spot_index') }}"><i class="material-icons" style="vertical-align: middle;">view_list</i> Liste des spots</a>
          </li>
      </ul>
      <h1>{{spot.title}}</h1>

      <div>
        <img class="responsive-img z-depth-5" style="width: 100%;" src="{{ spot.imageTitle }}">
      </div>

      <h3>{{ spot.address }}</h3>

      <p>{{ spot.description }}</p>

      <ul>
          <li>
              <a href="{{ path('spot_index') }}">Back to the list</a>
          </li>
          <li>
              <a href="{{ path('spot_edit', { 'id': spot.id }) }}">Edit</a>
          </li>
          <li>
              {{ form_start(delete_form) }}
                  <input type="submit" value="Delete">
              {{ form_end(delete_form) }}
          </li>
      </ul>

      <h5>COMMENTAIRES</h5>
      {% for comment in comments %}
        <p>{{ comment.user.username }}</p>
        <p>{{ comment.text }}</p>
        <p>{{ comment.created }}</p>
      {%  endfor %}
      {{ form_start(comment_form) }}
          {{ form_widget(comment_form) }}
          <input type="submit" value="commenter" />
      {{ form_end(comment_form) }}


      <h5>NOTES</h5>
      {% for notice in notices %}
          <p>{{ notice.user.username }}</p>
          <p>{{ notice.comment }}</p>
          <p>{{ notice.note }}</p>
      {%  endfor %}
      {{ form_start(notice_form) }}
      {{ form_widget(notice_form) }}
      <input type="submit" value="noter" />
      {{ form_end(notice_form) }}

      <h5>NOTE MOYENNE</h5>
      {{ averageNote }}

    </div>
{% endblock %}
