{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
      <ul>
          <li>
              <a href="{{ path('spot_index') }}"><i class="material-icons" style="vertical-align: middle; font-size: 30px;">view_list</i> Liste des spots</a>
          </li>
      </ul>
      <h1 class="center-align">{{spot.title}}</h1>

      <br><br>

      <div>
        <img class="responsive-img z-depth-5" style="width: 100%;" src="{{ asset('uploads/file/' ~ spot.imageTitle) }}">
      </div>

      <br>

      <h3>{{ spot.address }} <span style="float:right"><i class="material-icons" style="vertical-align: -18%; font-size: 2.92rem; color: #fbc02d;">star</i> {{ averageNote }}</span></h3>

      <p>{{ spot.description }}</p>

      <!-- <ul>
          <li>
              <a href="{{ path('spot_index') }}">Back to the list</a>
          </li>
          <li>
              <a href="{{ path('spot_edit', { 'id': spot.id }) }}">Edit</a>
          </li>
          <li>
              {{ form_start(delete_form) }}
                  <input type="submit" value="Delete">
              {{ form_end(delete_form) }}
          </li>
      </ul> -->

      <br><br>

      <h5>Noter ce spot</h5>
        {{ form_start(notice_form) }}
        {{ form_widget(notice_form) }}
        <div style="text-align: right; margin-top:20px;">
          <button class="btn waves-effect waves-light" type="submit" name="action" value="Create">Noter
            <i class="material-icons right">send</i>
          </button>
        </div>
      {{ form_end(notice_form) }}

      <br><br>

      <h5>Commentaires</h5>
      <div class="row">
        {% for comment in comments %}
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s2">
                <img src="{{ asset('uploads/user/avatar/' ~ comment.user.avatar) }}" width="75px" class="circle responsive-img">
              </div>
              <div class="col s10">
                <p><strong>{{ comment.user.username }}</strong></p>
                <p>{{ comment.created }}</p>
                <p class="black-text">
                  {{ comment.text }}
                </p>
              </div>
            </div>
          </div>
        </div>
        {%  endfor %}
      </div>
      {{ form_start(comment_form) }}
          {{ form_widget(comment_form) }}
          <div style="text-align: right; margin-top:20px;">
            <button class="btn waves-effect waves-light" type="submit" name="action" value="Create">Ajouter
              <i class="material-icons right">send</i>
            </button>
          </div>
      {{ form_end(comment_form) }}

    </div>
{% endblock %}
