{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
      <ul>
          <li>
              <a href="{{ path('spot_index') }}"><i class="material-icons" style="vertical-align: middle;">view_list</i> Liste des spots</a>
          </li>
      </ul>
      <h1>{{spot.title}}</h1>

      <div>
        <img class="responsive-img z-depth-5" style="width: 100%;" src="{{ spot.imageTitle }}">
      </div>

      <h3>{{ spot.address }}</h3>

      <p>{{ spot.description }}</p>

    </div>

{% endblock %}
